#footer
  <a target="_blank" class="entry donde" href="https://www.google.ae/maps/place/Delhi,+India/@28.6466772,76.8130626,10z/data=!3m1!4b1!4m2!3m1!1s0x390cfd5b347eb62d:0x37205b715389640?hl=en" title="Updated 4/10">Where is Steven?</a>
  .social
    .social-item 
      include ./insta-small.html
    .social-item
      include ./fb.jade