head
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/nav-bar.css')
  link(rel='stylesheet', href='/stylesheets/main.css')
  link(rel='stylesheet', href='/stylesheets/right-content.css')
  link(rel='stylesheet', href='/stylesheets/foot.css')
  script(src='/javascripts/app.js')