//- index.jade
doctype html
html
  include ./head.jade
  .body-wrapper 
    body
      include ./nav-bar.jade    
      .content
        .header Welcome to my blog
        .body Blog entries below
        ul
          each val in subjects
            li= val
        p Insert some content here
        p list blog entries here
      include ./foot.jade
