//- index.jade
doctype html
html
  include ./head.jade
  .body-wrapper 
    body
      include ./nav-bar.jade
      .content
        include ./main-content.jade
        include ./right-content.jade
        include ./foot.jade
