//- index.jade
doctype html
html
  include ./head.jade
  .body-wrapper 
    body
      include ./nav-bar.jade    
      .content
        p Insert some content here
        p list blog entries here
      include ./foot.jade
