//- index.jade
doctype html
html
  include ./includes.jade
include ./nav-bar.jade
.body-wrapper 
  body
  .content
    include ./right-content.jade
    include ./main-content.jade
    include ./foot.jade
