//- index.jade
doctype html
head
  include ./meta.jade
html
  include ./includes.jade
include ./nav-bar.jade
.body-wrapper 
  body
  .content
    include ./right-content.jade
    include ./main-content.jade
    include ./itinerary.jade
    include ./other-entries.jade
    include ./foot.jade
