#header
  .left
    p Steve Leaves Tug
  .right
    .subtitle April 7th -> June ?? = Asia
    .subtitle July 2nd = Wyatt Wedding
    .subtitle July 7th -> Sept 13th = South America
    .subtitle Sept 14th -> Oct 10th = NYC, Europe
  include ./entry-nav.jade