#header
  .left
    p Steve Leaves Tug
  .right
    .title Itinerary
    .subtitle April 7th -> June ?? = Asia
    .subtitle July 2nd = Wyatt Wedding
    .subtitle July 7th -> October 5th = South America