#header
  .left
    p Steve Leaves Tug
  .right
    .subtitle April 7th -> June 24th = Asia
    .subtitle July 2nd = Wyatt Wedding
    .subtitle July 7th -> Sept 1st = South America
    .subtitle Sept 2nd -> Oct 10th = Europe
  include ./entry-nav.jade