.right
  .name My Travel Blog
  .description Hello! Steven White here - taking a six month break from real life to check out the world. I'll be spending 3 months in Asia, and 3 months in South America, before going back to work at <a target="_blank" href="https://www.redfin.com">Redfin</a>. I'll be using this blog to both describe my travels, as well as my work building out more features in this blog. 
  .social
    .social-item 
      include ./insta.html
    .social-item
      include ./fb.jade
    .social-item
     include ./rss.jade