#comments {
	background-color: ghostwhite;
	padding: 30px;
}

#comments .comment-header {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

#comments .input-label {
	display: inline-block;
	width: 100px;
}

#comments .submit-input {
	padding-left: 10px;
}

#comments .comment-input input {
	width: 80%;
}

#comments .name-input,.comment-input {
	padding: 10px;
}

#comments .name-display {
	padding-top: 20px;
	font-weight: bold;
	display: inline-block;
}

#comments .date-display {
	display: inline-block;
	padding-left: 10px;
}

#comments .comment-display {
	padding-top: 5px;
}

@media screen and (min-width: 1001px) {
	#comments {
		width: 700px;
	}
}

@media screen and (max-width: 1000px) {
  #comments {
  		margin-right: 20px;
  }

  #comments .name-display {
  		display: block;
  		padding-left: 0;
  }

  #comments .date-display {
  		display: block;
  		padding-left: 0;
  		padding-bottom: 5px;
  }
}