#footer {
	height: 75px;
	width: 100%;
	display: none;
}

#footer .social-item {
	display: inline-block;
}

#footer .social img {
	width: 24px;
	margin: 20px 10px 0 10px;
}

@media screen and (max-width: 1000px) {
  #footer {
  	display: inline-block;
  }

  #footer .donde {
    font-size: 30px;
    padding-top: 20px;
  }
}