#footer {
	height: 75px;
	width: 100%;
	display: none;
}

#footer .social {
	padding-top: 25px;
}

#footer .social-item {
	display: inline-block;
	padding: 0 10px;
}

#footer .social img {
	width: 24px;
	
}

@media screen and (max-width: 1000px) {
  #footer {
  	display: inline-block;
  }
}