#header,#footer {
  cursor: default;
}

#header {
  background-image: url('../images/background.png');
}

#header .left {
    display: inline-block;
    font-size: 40px;
    font-family: fantasy;
    font-size: 60px;
    padding-left: 75px;
}

#header .right {
    text-align: left;
    width: 320px;
    display: inline-block;
    opacity: .7;
    background-color: ghostwhite;
    padding: 25px 0;
    float: right;
    margin-top: 48px;
    margin-right: 50px;
}

#header .right .title {
  padding-bottom: 20px;
  text-align: center;
}

#header .right .subtitle {
  padding-left: 20px;
}

@media screen and (max-width: 1000px) {
  #header .right {
    display: none;
  }

  #header .left {
    text-align: center;
    padding-left: 0;
    width: 100%;
  }

  #header p {
    padding: 0 10px;
  }
}