.content .left {
	width: 65%;
	float: left;
	display: inline-block;
	padding-left: 40px;
}

.content .left .subject {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	margin: 25px;
	font-size: 30px;
}

.content .left .blog-entry {
	display: none;
	animation: ease-in-out; <!--TODO -->
}