.content .left {
	width: 70%;
	float: left;
	display: inline-block;
}

.content .left .selected-entry {
	padding-left: 40px;
}

.content .left .subject {
	margin: 25px 0;
	font-size: 30px;
}

.content .left .blog-entry-wrapper {
	overflow: hidden;
}

.content .left .blog-entry {
	margin-top:-100%;
	-webkit-transition:margin-top 500ms;
	transition:margin-top 500ms;
}

.content .left .blog-entry.open {
	margin-top: 0;
	padding-bottom: 50px;
}

#header .tab {
	display: inline-block;
	padding: 20px;
	cursor: pointer;
	color: ghostwhite;
}

#header .tab:hover {
	background-color: darkgrey;
}

#header .entry-nav {
	background-color: grey;
	opacity: .5;
	clear: both;
}