.content .left {
	padding: 0 40px 50px 40px;
}

.content .left .subject {
	margin: 25px 0;
	font-size: 30px;
}

.content .left .blog-entry,.date {
	font-size: 14px;
	margin-top: 0;
	text-align: justify;
}

.content .left .date {
	font-style: italic;
	padding-top: 10px;
}

.content .left .blog-entry {
	padding-right: 20px;
}

.content .left .blog-entry .list-item {
	display: list-item;
	margin: 0 0 0 50px;
	padding: 0;
}

.content .left .full-width-img {
	
}

.content .left .two-third-width-img {
	width: 64%;
	padding: 1%;
}

.content .left .half-width-img {
	width: 48%;
	padding: 1%;
}

.content .left .third-width-img {
	width: 31%;
	padding: 1%;
}

@media screen and (max-width: 1000px) {
  .content .right {
    display: none;
  }

  #header .tab {
  	font-size: 24px;
  }

  .content .left .blog-entry p {
	padding-top: 20px;
  }

  .content .left .two-third-width-img {
  	  width: 95%;
  }

  .content .left .third-width-img {
  	  width: 95%;
  }
}