#header,#footer {
  text-align: center;
  background-color: beige;
  cursor: default;
}

#header {
  height: 200px;
  padding-top: 70px;
  background-image: url('../images/background.png');
}

#footer {
  height: 50px;
}

#header .left {
    float: left;
    width: 65%;
    display: inline-block;
    font-size: 40px;
}

#header .right {
    text-align: left;
    float: right;
    width: 30%;
    display: inline-block;
}

#header .right .title {
  padding-bottom: 20px;
  text-align: center;
}