#entry-list {
	padding-bottom: 30px;
}

#entry-list .entries-header {
	font-size: 30px;
}

#entry-list .group {
	display: inline-block;
	width: 275px;
	vertical-align: top;
}

#entry-list .group .group-name {
	font-size: 18px;
	padding: 10px 0;
}

#entry-list .group .entry-link {
	padding: 5px 0;
}

#entry-list .group .entry-subject,.entry-date {
	display: inline-block;
}

#entry-list .group .entry-date {
	font-style: italic;
}


@media screen and (max-width: 1000px) {
  #entry-list {
    padding-bottom: 0;
  }
}