.body-wrapper {
  min-height: 100%;
  margin-top: -14px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

#footer {
	clear: both;
}